<!------ Include the above in your HEAD tag ---------->


<div class="container">
  <div class="wrapper">
    <!-- <form action="admin_login.php" method="post" name="Login_Form" class="form-signin">        -->
    <form [formGroup]="Datos" (ngSubmit)="Logueacion()" class="form-signin">
      <h3 class="form-signin-heading">INICIO DE SESIÓN</h3>
      <hr class="colorgraph"><br>
  
      <input type="text" class="form-control" placeholder="Usuario" required autofocus formControlName="Usuario" />
      <input type="password" class="form-control" placeholder="Contraseña" required formControlName="Contrasenia" />
  
      <button class="btn btn-lg btn-primary btn-block" type="Submit">Ingresar</button>
    </form>
  </div>
</div>
